input[type="button"] { margin-bottom: 20px;
    width: 150px; 
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

a { font-family: Verdana, Arial, sans-serif;
    color: black;
    display: block;
    margin-bottom: 10px;
}

a:hover{color: cadetblue;}
input[type="button"]:hover { border:2px solid #bbb;}

select {
    width: 150px; 
    height: 20px;
    margin-bottom: 10px;
}
